@keyframes show {
    0% {
        transform: translateX(-100%);
        opacity: 0;
        }

    100% {
        transform: translateX(0);
        opacity: 1;
        }
    }

.home {
    padding: 50px 0 0;
    }
    .home__nav {
        position: fixed 0 * * 0;
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        }

        .home__nav-link {
            box-sizing: border-box;
            margin: 0;
            padding: 15px 0;
            height: 50px;
            background: cornflowerblue;
            color: #fff;
            list-style: none;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            opacity: 0;
            animation: show ease-in .3s forwards;
            flex: 1;

            &:hover {
                background: dodgerblue;
                }
            }

        .home__nav-link:nth-child(2n) {
            animation-delay: .6s;
            }
        .home__nav-link:nth-child(3n) {
            animation-delay: .9s;
            }
        .home__nav-link:nth-child(4n) {
            animation-delay: 1.2s;
            }
