@keyframes show {
    0% {
        transform: translateY(-100%);
        opacity: 0;
        }

    100% {
        transform: translateY(0);
        opacity: 1;
        }
    }

.wrap {
    overflow: hidden;
    height: 100vh;
    }

.inner {
    position: relative;
    margin: auto;
    padding: 50px 0 0;
    background: white;
    size: 1148px 100%;
    }

    .nav {
        position: absolute 0 * * 0;
        margin: 0;
        padding: 0;
        width: 100%;
        }

        .link {
            opacity: 0;
            animation: show ease-in .4s forwards;
            size: 130px;
            }

        .linkPerson {
            composes: link;
            }

        .linkStart {
            composes: link;
            animation-delay: .2s;
            }
        .linkResults {
            composes: link;
            animation-delay: .4s;
            }
        .linkSahre {
            composes: link;
            animation-delay: .6s;
            }
